html {
  --gray: #3D464D;
  --gray-light: #f5f5f5;
  --orange: #ffd334;
  --white: #fff;
  font-family:Arial, Helvetica, sans-serif;
  scroll-behavior: smooth; /* Bouton en bas de page pour remonter */

}
*,*::after,*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--gray-light);
}

.border {border: 1pxx solid red;}

.my-row  {
  display: flex;
  gap: 2.2rem; /* l'espace entre les items*/
  flex-direction: row; /*row permet daligner les elements sur une meme ligne*/
  flex-wrap: nowrap; /*wrap permet de passer à la ligne si les elements ne tiennent pas sur une ligne */
  align-items: center; /*centre des elements sur la ligne */
  align-content: center;
}
[class*="col-"] {
  /*flex: 1; /* permet de prendre toute la place disponible */
  width: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  color: #3D464D;
  padding: 0.3rem 0 0.3rem 0;
  align-items: center;
  align-content: center;
  background-color: #F5F5F5;
  justify-content: space-between;
}
.navbar .navbar__menu .navbar__menu--list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar .navbar__menu .navbar__menu--list .navbar__menu--item {
  display: inline-flex;
  margin: 0 0.5rem;
}
.navbar .navbar__menu .navbar__menu--list .navbar__menu--item .navbar__menu--link {
  text-decoration: none;
  color: #3D464D;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.navbar .navbar__menu .navbar__menu--list .navbar__menu--item .navbar__menu--link:hover {
  color: #3D464D;
}
.navbar2 {
  padding: 2vh 0 2vh 0;
}
.navbar2 .multi {
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: #3D464D;
}
.navbar2 .multi span {
  color: #FFD334;
  font-size: 2rem;
  font-weight: 900;
  padding: 0;
  text-transform: uppercase;
}
.navbar2 .shop {
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: #FFD334;
}
.navbar2 .shop span {
  color: #3D464D;
  font-size: 2rem;
  font-weight: 900;
  padding: 0;
  text-transform: uppercase;
}
.navbar2 .card__search {
  width: 50%;
}
.navbar2 .card__search .search {
  display: flex;
}
.navbar2 .card__search .search .input__search {
  flex: 1 1 auto;
}
.navbar2 .card__search .search .btn__search {
  border-left: none;
}
.navbar2 .card__search .fa-search {
  color: #FFD334;
}
.navbar2 .service-customer span.service {
  color: #3D464D;
  float: right;
  padding-right: 5px;
}
.navbar2 .service-customer span.phone {
  font-weight: bold;
  color: #3D464D;
  float: right;
  padding-right: 5px;
}
.navbar3 {
  width: 100%;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #FFD334;
  background-color: #3D464D;
}
.navbar3 .navbar3__card--select {
  color: #3D464D;
  font-size: 1rem;
  font-weight: 900;
  padding: 1em;
  background-color: #FFD334;
}
.navbar3 .navbar3__card--select select {
  border: none;
  background-color: #FFD334;
}
.navbar3 .navbar3__card--link .navbar3__card--list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar3 .navbar3__card--link .navbar3__card--list .navbar3__card--item {
  display: inline-flex;
  margin: 0 0.5rem;
}
.navbar3 .navbar3__card--link .navbar3__card--list .navbar3__card--item a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.navbar3 .navbar3__card--icons .card-icons {
  color: #FFD334;
  display: flex;
  justify-content: space-around;
  text-align: end;
}
.navbar3 .navbar3__card--icons .card-icons .icons-links {
  text-decoration: none;
  color: #FFD334;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.navbar3 .navbar3__card--icons .card-icons .icons-links span {
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.09rem 0.3rem 0.07rem;
}
/* Fin des sections navbar */

/* Début section bannière photo */
.image{
  padding-top: 2em;
  margin: 0 auto;
  width: 90%;
}
.left {
  padding-right: 0.9rem;
}
.banner{
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.specialoffer{
  color: white;
  position: absolute;
  top: 30%;
  left: 35%;
  text-align: center;
  text-shadow: 1px 2px 2px black;
}
.save {
  color: white;
  position: absolute;
  top: 20%;
  left: 45%;
  text-align: center;
  text-shadow: 1px 2px 2px black;
}
.shopnow{
  color: var(--gray);
  position: absolute;
  top: 50%;
  left: 45%;
  text-align: center;
  border: 1px solid var(--orange);
  padding: .5em;
  background-color: var(--orange);
}
.carousel-3 {
  width: 100%;
  object-fit: cover;
}
.offer-1 {
  object-fit: cover;
  width: 100%;
  height: 24vh; 
  padding-bottom: 0.9rem; 
  overflow: hidden;
}
.offer-2{
  object-fit: cover;
  width: 90%;
}
 /* Fin section bannière photo */


/* Début section quality compagny */
.check{
  margin: 0 auto;
  width: 93%;
  display: inline-flex;
}
.quality-product,.free-shipping,.day-return,.support{
  margin: 2em; 
  padding: 1.5em; 
  background-color: white;
  font-weight: bold;
}
.fa-solid {
  color: var(--orange);
  font-size: 2em;
}
/* Début section catégorie */
.line1{
  height: 1px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ccc;
  text-align: left;
  overflow: visible;
  background-color: white;
}

.line1:before{
  content: "Catégories";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 1.1em;
  background-color: var(--gray-light);
  color: var(--gray);
}

.categorie {
  margin: 0 auto;
  width: 90%;
  padding-top: 20px;
  margin-bottom: 1em;
}

.rectangle {
  background-color: white;
}

.categorie img {
  width: 80%;
}

.titre-1{
  font-weight: bold;
  color: var(--gray);
}

.titre-2 {
  color: #a5a5a5;
}
/* Fin section catégorie */

/* Début section featured products */
.line2{
  height: 1px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ccc;
  text-align: left;
  overflow: visible;
  background-color: white;
}
.line2:before{
  content: "Featured Products";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 1.1em;
  background-color: var(--gray-light);
  color: var(--gray);
}
.featuredproducts {
  width: 90%;
  margin: 0 auto;
}
.featuredproducts img{
  width: 100%;
}
.futur-photo1{
  width: 100%;
  margin-top: 2em;
  justify-content: left;
  display: inline-flex;
}
/* Pour les étoiles toujours dans la section featured products */
.fa-star {
	color: var(--gray);
	cursor: pointer;
	padding: 0.1rem;
}
.fa-star.gold {
	color: #ffdc0f;
}
.rating {
	display: flex;
	flex-direction: column;
	align-items: center;
  background-color: white;
}
.stars {
  display: inline-flex;
  justify-content: center;
  font-size: 1em;
}
.ancien-prix{
  text-decoration:line-through ;
}
/* Fin section featured products */

/* Début section bannière photo 2 */
.banniere-2{
  padding-top: 2em;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 0.9rem;
  display: inline-flex;
  gap: 2.2em;
}
.offer-left img{
  width: 100%;
}
.offer-right img{
  width: 100%;
}

.specialoffer2{
  color: white;
  position: absolute;
  top: 40%;
  left: 40%;
  text-align: center;
  text-shadow: 1px 2px 2px black;
}
.save2 {
  color: white;
  position: absolute;
  top: 30%;
  left: 45%;
  text-align: center;
  text-shadow: 1px 2px 2px black;
}
.shopnow2{
  color: var(--gray);
  position: absolute;
  top: 60%;
  left: 45%;
  text-align: center;
  border: 1px solid var(--orange);
  padding: .5em;
  background-color: var(--orange);
}


/* Fin section banniere photo 2 */

/* Début section recent products */
.line3{
  height: 1px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ccc;
  text-align: left;
  overflow: visible;
  background-color: white;
}
.line3:before{
  content: "Recent Products";
  display: inline-block;
  position: relative;
  margin-top: 15px;
  top: -0.9em;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 1.1em;
  background-color: var(--gray-light);
  color: var(--gray);
}
/* Fin section recent products */

/* Début section logo */

.card_logo {
  margin-top: 2rem;
}
.logo{
  width: 100%;

}
/* Fin section logo */

/* Footer */
footer{
  background-color: var(--gray);
  color: white;
}
footer .card-author {
  margin-top: 1rem;
  padding: 2rem 0 2rem 0;
  border-top: 1px solid #333;
}
footer .card-author .author{
  color: white;
}
footer .card-author .author span{
  color: var(--orange);
}
footer .card-author .payments{
  text-align: end;
}
footer .card-author .card_btn_smooth{
  text-align: center;
  align-items: center;
  align-content: center;
}
footer .card-author .card_btn_smooth .btn-smooth .fa-circle-chevron-up{
  color: var(--orange);
}
.title{
  color: var(--gray-light);
  font-size: 1.5em;
  font-weight: 400;
  padding-top: 3em;
  padding-bottom: 1em;
}
.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-links ul li {
  width: 100%;
  line-height: 1.5;
}
.footer-links ul li  {
  display: block;
  line-height: 1.5;
}
.footer-links li a{
  width: 100%;
  color: var(--white);
  text-decoration: none;
}
.footer-links li a:before{
  content: "> ";
  color: var(--white);
  text-decoration: none;
}
.column{
  color: var(--gray-light);
}
.infos {
  text-transform: none;
}
.text-footer {
  padding-bottom: 1em;
}
.fa-location-dot, .fa-envelope, .fa-phone {
  color: var(--orange);
}
form {
  display: inline-flex;
}
form .signup {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  color: var(--gray);
  padding: .3em 0 .3em 0;
  /* width: 5.5em; */
  margin-left: 18px;
  /* font-size: 1.06em; */
}
.barre-search {
  margin-top: 2em;
}
.sous-title{
  margin-top: 1em;
  color: var(--gray-light);
  font-size: 1.1em;
  font-weight: 400;
}
.fa-twitter,
.fa-facebook-f,
.fa-linkedin-in,
.fa-instagram {
    margin-top: 1em;
    color: var(--gray);
    background-color: var(--orange);
    padding: .9em;
    margin-right: -20px;
}
.author{
  margin-top: 15px;
}
.payments{
  text-align: right;
}
.btn-smooth{
  color: var(--orange);
  font-size: 0.9rem;
  text-align: end;
  padding: 1rem;
}
.btn-smooth::before {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn-smooth i {
  font-size: 2rem;/* Mettre le bouton qui remonte en haut de page*/
}

/* Fin section footer */
